# Maintainer: Guillaume Quintard <guillaume.quintard@varnish-software.com>

pkgname=vmod-cfg
pkgver=@PKGVER@
pkgrel=@PKGREL@
_srcver=@SRCVER@
pkgdesc="Config VMOD for Varnish"
arch=('x86_64')
url="https://github.com/carlosabalde/libvmod-cfg"
license=('BSD-2-Clause')
depends=("varnish=$pkgver-$pkgrel" 'curl' 'luajit')
makedepends=('autoconf' 'automake' 'libtool' 'autoconf-archive' 'pkg-config' 'python-docutils' 'jemalloc' 'xxd')
source=("$pkgname-${_srcver}.tar.gz::https://github.com/carlosabalde/libvmod-cfg/archive/refs/tags/${_srcver}.tar.gz")
sha512sums=('SKIP')

build() {
    cd "libvmod-cfg-${_srcver}"
    ./autogen.sh
    ./configure \
        --prefix=/usr \
        --sysconfdir=/etc \
        --localstatedir=/var/lib \
        --disable-flush-jemalloc-tcache
    make
}

check() {
    cd "libvmod-cfg-${_srcver}"
    make check VERBOSE=1
}

package() {
    cd "libvmod-cfg-${_srcver}"
    make DESTDIR="$pkgdir" install
    install -Dm644 "LICENSE" "$pkgdir/usr/share/licenses/$pkgname/LICENSE"
}
